h1{
    margin-bottom: 0;
}
.galerie_flicker_text{
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}
.old_flickr_div{
    display: flex;
    min-width: 350px;
    width: 40%;
    margin-top: 0;
    height: min-content;
}
.old_flickr_text{
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--mid_gray);
    width: 100%;
    height: min-content;
}
.div_old, .div_new{
    width: calc(50% - 20px);
    display: flex;
    flex-direction: column;
}
.div_old{
    margin-right: 10px;
}
.div_new{
    margin-left: 10px;
}
.flickr_button{
    height: 30px;
    padding: 10px 30px;
    border-radius: 25px;
    border: 1px solid var(--mid_gray);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    text-decoration: none;
    color: var(--dark_blue);
    font-size: 18px;
    font-weight: 500;
    text-wrap: nowrap;
}
.flickr_button img{
    height: 30px;
    width: auto;
}
.flickr_button:hover{
    cursor: pointer;
}
/* Galerie */
.gallery{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
}
.gallery-img{
    width: 100%;
}
.gallery-img:hover{
    cursor: pointer;
}
.img-window{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
.img-window img{
    max-width: 80vw;
    max-height: 80vh;
    overflow-y: hidden;
}
.change-btn{
    color: white;
    zoom: 2;
    margin: 10px;
}
.close-btn{
    position: fixed;
    top: 25px;
    right: 25px;
    color: white;
    zoom: 1.5;
}
.close-btn:hover, .change-btn:hover{
    cursor: pointer;
}
/* Handy */
@media (max-width: 767px) {
    .gallery{
        grid-template-columns: auto;
    }
}
/* Tablet */
@media (min-width: 768px) and (max-width: 991px) {
    .gallery{
        grid-template-columns: auto auto;
    }
}