.ueber_uns{
    font-family: "Roboto", sans-serif;
    margin-top: 30px;
    background-color: var(--ueber_uns_background);
    border-radius: 20px;
    padding: 30px 50px;
    transition: height 4s;
}
.titel_ueber_uns{
    font-size: 50px;
    font-weight: 500;
    color: var(--ueber_uns_titel_color);
    margin-top: 0;
}
.text_ueber_uns, .text_ueber_uns_more{
    font-size: 20px;
    font-weight: 350;
    text-align: left;
    width: 90%;
    color: var(--ueber_uns_text_color);
}
.text_ueber_uns{
    margin-top: 50px;
}
.text_ueber_uns_more{
    margin: 20px 0 0 0;
    display: flex;
    align-items: center;
    display: none;
}
.text_ueber_uns_more:hover{
    cursor: pointer;
}
.text_ueber_uns_more:hover + .text_ueber_uns{
    display: flex;
}
.img_ueber_uns{
    height: 300px;
    width: calc(100% + 100px);
    object-fit: cover;
    object-position: 50% 50%;
    margin: -50px -50px 0 -50px;
    border-radius: 20px 20px 0 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
}
.person_div{
    display: flex;
    flex-wrap: wrap; /* <-- wichtig für den Umbruch */
    gap: 20px;
}
.person{
    width: 250px;
    border-radius: 20px;
    overflow: hidden;
    background-color: var(--dark_blue_50);
}
.person_img{
    flex-direction: column;
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: 50% 100%;
}
.person_description{
    position: absolute;
    padding: 0 20px;
    margin: -50px 0 10px 0;
    height: 50px;
    width: 210px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    background-color: rgb(216, 216, 216);
    display: flex;
    justify-content: center;
    align-items: center;
}
.person_name{
    width: 210px;
    margin: 10px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    text-align: center;
    font-weight: 700;
    color: white;
}
.team_geschichte_div{
    display: flex;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    border-bottom: 1px solid var(--mid_gray);
    padding: 0 0 20px 0;
}
.team_geschichte_p{
    padding: 10px 20px;
    margin: 0 10px 0 0;
    background-color: var(--mid_gray);
    height: 22px;
    border-radius: 21px;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    transition: background-color 200ms ease-in-out;
}
.team_geschichte_p:hover{
    cursor: pointer;
    background-color: var(--dark_blue_50);
    color: white;
}
.select_team_geschichte_type{
    background-color: var(--dark_blue_50);
    color: white;
}
/* Smartphone */
@media (max-width: 767px) {
    .ueber_uns{
        padding: 30px 20px;
    }
    .img_ueber_uns{
        width: calc(100% + 40px);
        margin: -50px -20px 0 -20px;
    }
    .text_ueber_uns{
        margin: 20px 0 0 0;
        font-size: 18px;
    }
    .person{
        width: 155px;
    }
    .person_img{
        width: 100%;
        height: 200px;
    }
    .person_description{
        padding: 0 20px;
        margin: -40px 0 10px 0;
        height: 40px;
        width: 115px;
        font-size: 12px;
    }
    .person_name{
        width: 115px;
        margin: 10px 20px;
        font-size: 20px;
    }
}
/* Tablet */
@media (min-width: 768px) and (max-width: 991px) {
    .person{
        width: 200px;
    }
    .person_img{
        width: 100%;
        height: 250px;
    }
    .person_description{
        padding: 0 20px;
        margin: -50px 0 10px 0;
        height: 50px;
        width: 160px;
    }
    .person_name{
        width: 160px;
        margin: 10px 20px;
        font-size: 25px;
    }
}
/* Small Laptop */
@media (min-width: 992px) and (max-width: 1200px) {
    
}